Repository xkeshav/astro-template, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xkeshav, @recursivezero, @Chebaleomkar, recursivezero@outlook.com

.github/CODEOWNERS:

# Lines starting with '#' are comments

* @xkeshav @recursivezero

*.js @xkeshav
*.astro @Chebaleomkar

## You can also use email addresses if you prefer

docs/* recursivezero@outlook.com

first commit
  .vscode/settings.json
Owners: @xkeshav, @recursivezero

added blog pages and remove duplicates
  .astro/collections/blogs.schema.json
  .astro/content.d.ts
  .astro/data-store.json
  .bolt/config.json
  .codesandbox/Dockerfile
  CHANGELOG.md
  components.json
  main.svg
  package-lock.json
  postcss.config.cjs
  postcss.config.js
  public/favicon.svg
  public/favicon_round.svg
  public/icons/svg/logo.svg
  public/icons/svg/trial.svg
  public/logo-white.svg
  src/assets/styles/global.css
  src/content.config.ts
  src/content/article/terms.md
  src/content/blog/routing-astro.md
  src/content/blog/state-management.md
  src/content/blog/style-guide.md
  src/content/blog/technology-used.md
  src/layouts/Base.astro
  src/pages/404.astro
  src/pages/blog/[slug].astro
  src/postcss.config.cjs
Owners: @Chebaleomkar, @xkeshav, @recursivezero

remove [slug] page under blog
  src/pages/blog/[slug].astro
Owners: @Chebaleomkar

slug issue fixed
  src/assets/styles/menu.css
  src/pages/blog/[...slug].astro
  src/pages/blog/[blog].astro
  src/pages/blog/index.astro
Owners: @xkeshav, @recursivezero, @Chebaleomkar

fix sidebar for smaller view
  src/assets/styles/globals.css
  src/layouts/Base.astro
Owners: @xkeshav, @recursivezero, @Chebaleomkar

added workspace
  .gitignore
  template.code-workspace
Owners: @xkeshav, @recursivezero

added Letter page
  src/assets/styles/globals.css
  src/assets/styles/letter.css
  src/pages/letter.astro
  src/utils/constants.ts
Owners: @xkeshav, @recursivezero, @Chebaleomkar

update template; added slug and blog fix
  .astro/data-store.json
  .astro/settings.json
  .vscode/settings.json
  astro.config.mjs
  src/assets/styles/globals.css
  src/assets/styles/menu.css
  src/components/Card.astro
  src/content.config.ts
  src/layouts/Base.astro
  src/layouts/Layout.astro
  src/layouts/common/Header.astro
  src/pages/blog/BlogCard.astro
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  template.code-workspace
Owners: @Chebaleomkar, @xkeshav, @recursivezero

added getEntry method inm blog post
  .gitignore
  astro-i18next.config.mjs
  postcss.config.cjs
  src/assets/styles/card.css
  src/assets/styles/globals.css
  src/assets/styles/letter.css
  src/assets/styles/menu.css
  src/components/Card.astro
  src/content.config.ts
  src/layouts/Navigation.astro
  src/models/index.ts
  src/pages/404.astro
  src/pages/blog/BlogCard.astro
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/types/blog.ts
  src/types/index.ts
  src/types/link.ts
  src/utils/constants.ts
  template.code-workspace
  tsconfig.json
Owners: @xkeshav, @recursivezero, @Chebaleomkar
